<!-- Template for the city component -->
<div style="text-align:center">
  <h1>
    Tempo da Cidade
  </h1> 
  <search></search> 
</div>
<div id="cityCont" class="container">    
    <h2 *ngIf="dataCity.city">
      <img src="https://openweathermap.org/img/w/{{dataCity.list[0].weather[0].icon}}.png" class="forecast-icon" alt="forecast">
      {{dataCity.list[0].weather[0].description}} in {{dataCity.city.name}}, {{dataCity.city.country}}
    </h2>            
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>Data/Hora</th>
            <th>Temperatura min/max (C)</th>       
            <th>Tempo</th>
            <th></th>           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cityForecast of dataCity.list">
            <td class="forecast-info forecast-0">{{cityForecast.dt_txt}}</td>
            <td class="forecast-info forecast-1">{{cityForecast.main.temp_min}}/{{cityForecast.main.temp_max}}</td>
            
            <td class="forecast-info forecast-4"><img src="https://openweathermap.org/img/w/{{cityForecast.weather[0].icon}}.png" class="forecast-icon" alt="forecast"></td>
            <td class="forecast-info forecast-4">{{cityForecast.weather[0].description}}</td>
            
          </tr>
        </tbody>
      </table>
    </div>
</div>
